body{
    margin:0;
    padding: 43px;
    background:darkgray;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    margin-bottom: 50px;
}

h1 {
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute; /* Positions the text at the top */
    top: 0; /* Aligns the text at the top of the page */
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Ensures the text is perfectly centered */
    background-color:solid tomato; /* Optional: Adds a semi-transparent background to make the text stand out */
    padding: 3px; /* Adds some padding around the text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor:pointer;
}
button:hover{
    background:blue;
}

#networkCanvas{
    background:black;
    bottom: 60px;;
}
#carCanvas{
    background:lightgray;
    bottom: 60px;
 
}